/*media qu start*/
/*Extra small devices (portrait phones, less than 576px)*/

@media(min-width: 320px) and (max-width: 575px) {
	/*header top part start*/

	#head-t .head-t-part .logo h2 {
		font-size: 14px;
		box-sizing: border-box;
		padding-left: 10px;
	}

	#head-t .head-t-part .social-icon ul li {
		box-sizing: border-box;
		margin-left: 10px;
		padding-right: 10px;
	}

	#head-t .head-t-part .social-icon ul li a {
		font-size: 14px;
	}

	#head-t .head-t-part .social-icon ul li a i {
		width: 20px;
		height: 20px;
		line-height: 20px;
	}

	/*header top part end*/

	/*banner part start*/

	#banner .banner-part .banner-slider .banner-slider-1 .overlay {
		background: rgba(0, 0, 0, 0.8);
		height: 100%;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay {
		background: rgba(0, 0, 0, 0.8);
		height: 100%;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay {
		background: rgba(0, 0, 0, 0.8);
		height: 100%;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h2 {
		font-size: 14px;
		padding: 50px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h3 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h4 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h5 {
		font-size: 14px;
		margin-bottom: 50px;
		margin-left: 10px;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h2 {
		font-size: 14px;
		padding: 50px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h3 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h4 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h5 {
		font-size: 14px;
		margin-bottom: 50px;
		margin-left: 10px;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h2 {
		font-size: 14px;
		padding: 50px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h3 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h4 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h5 {
		font-size: 14px;
		margin-bottom: 50px;
		margin-left: 10px;
	}

	/*banner part end*/

	/*fixed navigation start*/
	#navigation.fixed {
		position: inherit;
	}

	/*fixed navigation end*/

	/*navigation part start*/

	#navigation .nav-part .menu-item .navbar .navbar-nav .nav-item .nav-link {
		padding-top: 10px;
		margin-left: 50%;
	}

	#navigation .nav-part .menu-item .navbar .navbar-nav .nav-item .nav-link i {
		line-height: 30px;
		width: 30px;
		height: 30px;
	}

	#navigation .nav-part .menu-item .navbar .navbar-nav .nav-item h4 {
		font-size: 14px;
		color: rgba(255, 255, 255, 0.41);
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		opacity: 0;
		padding-top: 0px;
		transition: all linear 0.3s;
		margin-left: 50%;
	}

	/*navigation part end*/
	/*about part start*/
	#about {
		padding-top: 50px;
	}

	#about .about-part .heading h2 {
		padding-bottom: 20px;
		padding-left: 10px;
		font-size: 18px;
		position: relative;
	}

	#about .about-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
	}

	#about .about-part .heading p span {
		font-size: 14px;
		padding: 10px 0px;
	}

	#about .about-part .heading p {
		font-size: 14px;
		font-weight: 700;
		padding: 10px 0 25px 10px;
		width: 300px;
	}

	#about .about-part .barfiller-part h2 {
		font-size: 14px;
		padding: 10px 0px 10px 10px;
	}

	/*about part end*/
	/*services part start*/
	#services {
		padding-top: 50px;
	}

	#services .services-part .heading h2 {
		padding-bottom: 10px;
		font-size: 18px;
		padding-top: 25px;
		padding-left: 10px;
		position: relative;
	}

	#services .services-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
		top: 50px;
	}

	#services .services-part .heading p span {
		padding: 10px 0px;
	}

	#services .services-part .heading p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #747774;
		font-weight: 700;
		padding: 10px 0 50px 10px;
		width: 300px;
	}

	#services .services-part .content {
		box-shadow: 3px 3px 15px #7644c6;
		-webkit-clip-path: polygon(49% 16%, 100% 0, 100% 100%, 48% 89%, 0 100%, 0 1%);
		clip-path: polygon(49% 16%, 100% 0, 100% 100%, 48% 89%, 0 100%, 0 1%);
	}

	#services .services-part .content i {
		font-size: 20px;
	}

	#services .services-part .content h2 {
		font-size: 14px;
	}

	/*services part end*/
	/*counter part start*/

	#counter-part .counter-strat .text i {
		font-size: 20px;
	}

	#counter-part .counter-strat .text h4 {
		font-size: 18px;
	}

	#counter-part .counter-strat .text h5 {
		font-size: 14px;
	}

	/*counter part end*/

	/*portfolio part start*/
	#porfolio {
		padding-top: 50px;

	}

	#porfolio .portfolio-part .heading h2 {
		padding-bottom: 20px;
		font-size: 18px;
		padding: 20px 0px 20px 10px;
		position: relative;
	}

	#porfolio .portfolio-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
		top: 50px;
	}

	#porfolio .portfolio-part .heading p span {
		font-size: 14px;
		padding: 10px 0 10px 0px;
	}

	#porfolio .portfolio-part .heading p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #747774;
		font-weight: 700;
		padding: 10px 0 50px 10px;
		width: 300px;
	}

	#porfolio .portfolio-part .filter-btn button {
		margin-left: 0px;
		font-size: 14px;
		border: 1px solid #FF4E3D;
	}

	#porfolio .portfolio-part .filter-btn {
		text-align: center;
	}

	#porfolio .portfolio-part .portfolio-item {
		margin: 0px 0px 10px 0px;
		position: relative;
	}

	#porfolio .portfolio-part .portfolio-item:hover .img-overlay {
		transform: scale(1);
	}

	#porfolio .portfolio-part .img-overlay h3 {
		font-size: 10px;
	}

	/*portfolio part end*/
	/*testimonials part start*/
	#testimonials {
		padding-top: 50px;
	}

	#testimonials .testimonials-part .heading h2 {
		padding-bottom: 20px;
		font-size: 18px;
		padding: 20px 0px 20px 10px;
		position: relative;
	}

	#testimonials .testimonials-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
		top: 50px;
	}

	#testimonials .testimonials-part .heading p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #747774;
		font-weight: 700;
		padding: 10px 0 50px 10px;
		text-transform: capitalize;
	}

	#testimonials .testimonials-part .testimonial-slide {
		background: #CECECE;
		-webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
		clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	}

	#testimonials .testimonials-part .testimonial-slide h2 {
		font-size: 14px;
	}

	/*testimonials part end*/
	/*contact part start*/
	#contact {
		padding-top: 50px;
		background: #2A2A2E;
	}

	#contact .contact-part .heading h2 {
		padding-bottom: 20px;
		font-size: 18px;
		padding: 20px 0px 20px 10px;
		position: relative;
	}

	#contact .contact-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
		top: 50px;
	}

	#contact .contact-part .heading p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #747774;
		font-weight: 700;
		padding: 10px 0 50px 10px;
		text-transform: capitalize;
	}

	#contact .contact-part .contant-part {
		margin-bottom: 50px;
	}

	#contact .contact-part .contant-part .form {
		box-shadow: 3px 3px 15px #7644c6;
		padding: 20px 0px 0px 0px;
	}

	#contact .contact-part .contant-part .form input {
		width: 230px;
	}

	#contact .contact-part .contant-part .form textarea {
		width: 230px;
	}

	#contact .contact-part .contant-part .form button {
		width: 100px;
	}

	/*contact part end*/

	/*fotter part start*/
	#fotter {
		background: #2C2D32;
		border-top: 1px solid #FF4E3D;
	}

	#fotter .fotter-part h2 {
		padding: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 12px;
		font-weight: 600;
		color: #f1f1f1;
	}

	/*fotter part end*/
	/*buttom to up start*/
	.top_to i {
		width: 30px;
		height: 30px;
		font-size: 20px;
		line-height: 30px;
		right: 15px;
		bottom: 50px;
	}

	/*buttom to end*/
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767px) {

	#head-t .head-t-part .logo h2 {
		font-size: 20px;
	}

	#head-t .head-t-part .social-icon ul li a {
		font-size: 14px;
	}

	#head-t .head-t-part .social-icon ul li a i {
		width: 25px;
		height: 25px;
		line-height: 25px;
	}

	/*header top part end*/
	/*banner part start*/
	#banner .banner-part .banner-slider .banner-slider-1 .overlay {
		background: rgba(0, 0, 0, 0.8);
		height: 100%;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay {
		background: rgba(0, 0, 0, 0.8);
		height: 100%;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay {
		background: rgba(0, 0, 0, 0.8);
		height: 100%;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h2 {
		font-size: 14px;
		padding: 50px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h3 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h4 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h5 {
		font-size: 14px;
		margin-bottom: 50px;
		margin-left: 10px;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h2 {
		font-size: 14px;
		padding: 50px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h3 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h4 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h5 {
		font-size: 14px;
		margin-bottom: 50px;
		margin-left: 10px;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h2 {
		font-size: 14px;
		padding: 50px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h3 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h4 {
		font-size: 14px;
		padding: 0px 0px 25px 10px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h5 {
		font-size: 14px;
		margin-bottom: 50px;
		margin-left: 10px;
	}

	/*banner part end*/

	/*fixed navigation start*/
	#navigation.fixed {
		position: inherit;
	}

	/*fixed navigation end*/

	/*navigation part start*/

	#navigation .nav-part .menu-item .navbar .navbar-nav .nav-item .nav-link {
		padding-top: 10px;
		margin-left: 50%;
	}

	#navigation .nav-part .menu-item .navbar .navbar-nav .nav-item .nav-link i {
		line-height: 30px;
		width: 30px;
		height: 30px;
	}

	#navigation .nav-part .menu-item .navbar .navbar-nav .nav-item h4 {
		font-size: 14px;
		color: rgba(255, 255, 255, 0.41);
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		opacity: 0;
		padding-top: 0px;
		transition: all linear 0.3s;
		margin-left: 50%;
	}

	/*navigation part end*/
	/*about part start*/
	#about {
		padding-top: 50px;
	}

	#about .about-part .heading h2 {
		padding-bottom: 20px;
		padding-left: 10px;
		font-size: 18px;
		position: relative;
	}

	#about .about-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
	}

	#about .about-part .heading p span {
		font-size: 14px;
		padding: 10px 0px;
	}

	#about .about-part .heading p {
		font-size: 14px;
		font-weight: 700;
		padding: 10px 0 25px 10px;
		width: 300px;
	}

	#about .about-part .barfiller-part h2 {
		font-size: 14px;
		padding: 10px 0px 10px 10px;
	}

	/*about part end*/
	/*services part start*/
	#services {
		padding-top: 50px;
	}

	#services .services-part .heading h2 {
		padding-bottom: 10px;
		font-size: 18px;
		padding-top: 25px;
		padding-left: 10px;
		position: relative;
	}

	#services .services-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
		top: 50px;
	}

	#services .services-part .heading p span {
		padding: 10px 0px;
	}

	#services .services-part .heading p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #747774;
		font-weight: 700;
		padding: 10px 0 50px 10px;
		width: 300px;
	}

	#services .services-part .content {
		box-shadow: 3px 3px 15px #7644c6;
		-webkit-clip-path: polygon(49% 16%, 100% 0, 100% 100%, 48% 89%, 0 100%, 0 1%);
		clip-path: polygon(49% 16%, 100% 0, 100% 100%, 48% 89%, 0 100%, 0 1%);
	}

	#services .services-part .content i {
		font-size: 20px;
	}

	#services .services-part .content h2 {
		font-size: 14px;
	}

	/*services part end*/
	/*counter part start*/
	#counter-part .counter-strat .text i {
		font-size: 20px;
	}

	#counter-part .counter-strat .text h4 {
		font-size: 18px;
	}

	#counter-part .counter-strat .text h5 {
		font-size: 12px;
	}

	/*counter part end*/

	/*portfolio part start*/
	#porfolio {
		padding-top: 50px;

	}

	#porfolio .portfolio-part .heading h2 {
		padding-bottom: 20px;
		font-size: 18px;
		padding: 20px 0px 20px 10px;
		position: relative;
	}

	#porfolio .portfolio-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
		top: 50px;
	}

	#porfolio .portfolio-part .heading p span {
		font-size: 14px;
		padding: 10px 0 10px 0px;
	}

	#porfolio .portfolio-part .heading p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #747774;
		font-weight: 700;
		padding: 10px 0 50px 10px;
		width: 300px;
	}

	#porfolio .portfolio-part .filter-btn button {
		margin-left: 10px;
		font-size: 14px;
		border: 1px solid #FF4E3D;
	}

	#porfolio .portfolio-part .filter-btn {
		text-align: center;
	}

	#porfolio .portfolio-part .portfolio-item {
		margin: 0px 0px 10px 0px;
		position: relative;
	}

	#porfolio .portfolio-part .portfolio-item:hover .img-overlay {
		transform: scale(1);
	}

	#porfolio .portfolio-part .img-overlay h3 {
		font-size: 13px;
	}

	/*portfolio part end*/
	/*testimonials part start*/
	#testimonials {
		padding-top: 50px;
	}

	#testimonials .testimonials-part .heading h2 {
		padding-bottom: 20px;
		font-size: 18px;
		padding: 20px 0px 20px 10px;
		position: relative;
	}

	#testimonials .testimonials-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
		top: 50px;
	}

	#testimonials .testimonials-part .heading p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #747774;
		font-weight: 700;
		padding: 10px 0 50px 10px;
		text-transform: capitalize;
	}

	#testimonials .testimonials-part .testimonial-slide {
		background: #f4f1f1;
		-webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
		clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	}

	#testimonials .testimonials-part .testimonial-slide h2 {
		font-size: 14px;
	}

	/*testimonials part end*/
	/*contact part start*/
	#contact {
		padding-top: 50px;
		background: #2A2A2E;
	}

	#contact .contact-part .heading h2 {
		padding-bottom: 20px;
		font-size: 18px;
		padding: 20px 0px 20px 10px;
		position: relative;
	}

	#contact .contact-part .heading h2:after {
		position: absolute;
		content: '';
		width: 40px;
		left: 10px;
		top: 50px;
	}

	#contact .contact-part .heading p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #747774;
		font-weight: 700;
		padding: 10px 0 50px 10px;
		text-transform: capitalize;
	}

	#contact .contact-part .contant-part {
		margin-bottom: 50px;
	}

	#contact .contact-part .contant-part img {
		margin-bottom: 30px;
	}

	#contact .contact-part .contant-part .form {
		box-shadow: 3px 3px 15px #7644c6;
		padding: 20px 0px 0px 0px;
	}

	#contact .contact-part .contant-part .form input {
		width: 500px;
	}

	#contact .contact-part .contant-part .form textarea {
		width: 500px;
	}

	#contact .contact-part .contant-part .form button {
		width: 166px;
	}

	/*contact part end*/
	/*fotter part start*/
	#fotter {
		background: #2C2D32;
		border-top: 1px solid #FF4E3D;
	}

	#fotter .fotter-part h2 {
		padding: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		font-weight: 600;
		color: #f1f1f1;
	}

	/*fotter part end*/
}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {

	#head-t .head-t-part .logo h2 {
		font-size: 22px;
	}

	#head-t .head-t-part .social-icon ul li {
		margin-left: 20px;
	}

	#head-t .head-t-part .social-icon ul li a {
		font-size: 16px;
	}

	#head-t .head-t-part .social-icon ul li a i {
		width: 28px;
		height: 28px;
		line-height: 28px;
	}

	/*header top part end*/
	/*banner part start*/
	#banner .banner-part .banner-slider .banner-slider-1 .overlay {
		height: 100%;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay {
		height: 100%;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay {
		height: 100%;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h2 {
		font-size: 24px;
		padding: 100px 0px 20px 0px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h3 {
		font-size: 24px;
		padding: 0px 0px 20px 0px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h4 {
		font-size: 24px;
		padding: 0px 0px 20px 0px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-1 .overlay .text h5 {
		font-size: 16px;
		margin-bottom: 100px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h2 {
		font-size: 24px;
		padding: 100px 0px 20px 0px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h3 {
		font-size: 24px;
		padding: 0px 0px 20px 0px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h4 {
		font-size: 24px;
		padding: 0px 0px 20px 0px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-2 .overlay .text h5 {
		font-size: 16px;
		margin-bottom: 100px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h2 {
		font-size: 24px;
		padding: 100px 0px 20px 0px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h3 {
		font-size: 24px;
		padding: 0px 0px 20px 0px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h4 {
		font-size: 24px;
		padding: 0px 0px 20px 0px;
		box-sizing: border-box;
	}

	#banner .banner-part .banner-slider .banner-slider-3 .overlay .text h5 {
		font-size: 16px;
		margin-bottom: 100px;
		box-sizing: border-box;
	}

	/*banner part end*/

	/*fixed navigation start*/
	#navigation.fixed {
		position: fixed;
		top: 0;
		left: 0;
		background: #2C2D32;
		width: 100%;
		z-index: 99999;
	}

	/*fixed navigation end*/

	/*navigation part start*/
	#navigation .nav-part .menu-item .navbar .navbar-nav .nav-item .nav-link {
		margin-right: 50px;
		padding-top: 30px;
	}

	/*navigation part end*/
	/*about part start*/
	#about .about-part .barfiller-part {
		margin-left: 30px;
	}

	#about .about-part .barfiller-part h2 {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		color: #747774;
		padding-bottom: 15px;
	}

	/*about part end*/
	/*services part start*/
	#services .services-part .content i {
		font-size: 30px;
	}

	#services .services-part .content h2 {
		font-size: 20px;
	}

	/*services part end*/

	/*portfolio part start*/
	#porfolio .portfolio-part .filter-btn {
		text-align: center;
	}

	/*portfolio part end*/
	/*contact part start*/

	#contact .contact-part .contant-part .form input {
		width: 300px;
	}

	#contact .contact-part .contant-part .form textarea {
		width: 300px;
	}

	#contact .contact-part .contant-part .form button {
		width: 130px;
	}

	/*testimonials part start*/
	#testimonials .testimonials-part .testimonial-slide {
		background: #f4f1f1;
		-webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
		clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
	}

	/*testimonials part end*/
	/*contact part end*/
	/*fotter part start*/
	#fotter .fotter-part h2 {
		font-size: 15px;
	}

	/*fotter part end*/
}

/*Large devices (desktops, 992px and up)*/
/*
@media (min-width: 992px) and (max-width: 1199.98px) {
	...
}

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	...
}
*/

/*media qu end*/
